:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --text-color: #fff;
}

.theme1 {
  --primary-color: #a0c4ff; /* Soft Blue */
  --secondary-color: #bdb2ff; /* Lavender */
  --success-color: #caffbf; /* Pale Green */
  --danger-color: #ffadad; /* Soft Red */
  --warning-color: #ffd6a5; /* Light Orange */
  --text-color: #343a40; /* Dark Gray */
}
