//Archivo font face
@font-face {
  font-family: "Archivo";
  src:
    url("../../fonts/Archivo/Archivo-Thin.woff") format("woff"),
    url("../../fonts/Archivo/Archivo-Thin.woff2") format("woff2"),
    url("../../fonts/Archivo/Archivo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Archivo";
  src:
    url("../../fonts/Archivo/Archivo-ExtraLight.woff") format("woff"),
    url("../../fonts/Archivo/Archivo-ExtraLight.woff2") format("woff2"),
    url("../../fonts/Archivo/Archivo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Archivo";
  src:
    url("../../fonts/Archivo/Archivo-Light.woff") format("woff"),
    url("../../fonts/Archivo/Archivo-Light.woff2") format("woff2"),
    url("../../fonts/Archivo/Archivo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Archivo";
  src:
    url("../../fonts/Archivo/Archivo-Regular.woff") format("woff"),
    url("../../fonts/Archivo/Archivo-Regular.woff2") format("woff2"),
    url("../../fonts/Archivo/Archivo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Archivo";
  src:
    url("../../fonts/Archivo/Archivo-Medium.woff") format("woff"),
    url("../../fonts/Archivo/Archivo-Medium.woff2") format("woff2"),
    url("../../fonts/Archivo/Archivo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Archivo";
  src:
    url("../../fonts/Archivo/Archivo-SemiBold.woff") format("woff"),
    url("../../fonts/Archivo/Archivo-SemiBold.woff2") format("woff2"),
    url("../../fonts/Archivo/Archivo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Archivo";
  src:
    url("../../fonts/Archivo/Archivo-Bold.woff") format("woff"),
    url("../../fonts/Archivo/Archivo-Bold.woff2") format("woff2"),
    url("../../fonts/Archivo/Archivo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Archivo";
  src:
    url("../../fonts/Archivo/Archivo-ExtraBold.woff") format("woff"),
    url("../../fonts/Archivo/Archivo-ExtraBold.woff2") format("woff2"),
    url("../../fonts/Archivo/Archivo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Archivo";
  src:
    url("../../fonts/Archivo/Archivo-Black.woff") format("woff"),
    url("../../fonts/Archivo/Archivo-Black.woff2") format("woff2"),
    url("../../fonts/Archivo/Archivo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
